<footer class="container-fluid bh-absolute-bottom">
    <div class="row">
            
        <div class="midden">
                <p>© 2018 | DCO Koelibri EVA-vzw </br>
                    In samenwerking met Manou Ramboer en Arteveldehogeschool </p>
                    <img src="{{ '/images/logo_arteveldehogeschool wit.png' | relative_url }}" width="8%" >
            

        </div>

    </div>
</footer>



<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>