/* Navigation
---------------------------------------------
*/
.navbar a {
    border: none;
}

/* TEKST
----------------------------------------------
*/

h1{ 
  text-align: center;
  color: $mycolor-1;
}

h2{
  margin-left: 100pt;
  color: $mycolor-2;
}

h3{
  margin-left: 100pt; 
  color: $mycolor-3;
}
h4{ 
  margin-left: 100pt;
}

h5{
  margin-left: 100pt;
}

h6{ 
  margin-left: 100pt;
}

p{
  margin-left: 100pt;
  margin-right: 50pt;
  color: $mycolor-3;
}

blockquote{
  margin-left: 100pt;
}
form{ 
  margin-left: 100pt;
}

table{ 
  margin-left: 100pt;
}

#wit{
  color: white;
}

.midden{
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}
img{
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 5px;
 margin-bottom: 10px;
}

.opsomming{
  margin-left: 100pt;
  
}

.afstand{
  margin-bottom: 100px;
}

.btn-primary{
 background-color: $mycolor-1; 
  border-radius: 5px;
  border:none; 
  display: block;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 20px;
}
p .tekstkader{
  margin-top: 40px;
}
.rij{
  margin-left: 100pt;
}


.btn-primary a:hover{
color: $mycolor-2;
}

.kader{
  background-color: $color-grey-1;
  display: block;
  margin-left:200pt;
  margin-right:50pt;
  height: 20%;

}




/* FOOTER
----------------------------------------------
sticked to the bottom with small content pages
*/
html {
    height: 110%;
  }

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 110%;
  }

  .balk{
    background-color: $mycolor-1;
    margin-bottom: 0%;
  }
.bh-absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer {
    background-color: $mycolor-3;
    color: $color-white;
    margin-top: 100px;
    a {
        color: $mycolor-3;
        &:hover {
            
        }
    }
}

img{
  text-align: center;
}

footer p{
  color: white;
  font-size: 12px;
}
footer img{
  margin: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* BACK TO TOP
-------------------------
*/
#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:$mycolor-3; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  //padding: 15px; /* Some padding */
  width: 40px;
  height: 40px;
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  &:hover {
    background-color:$mycolor-5; 
  }
}